# Otimização na Reconfiguração de Território de Vendas utilizando Algoritmos Genéticos

O planejamento de território para vendas pode ser formulado como um problema de otimização, em que cada território (cidade, bairro, rua, cliente.. etc) deve ser alocado para um **melhor representante** de acordo com alguns critérios e restrições. 

Usualmente o planejamento é realizado a cada período de tempo (um ano, uma semana... ), levando em consideração o tempo necessário para o representante visitar todos os territórios de vendas. 

O objetivo da otimização depende do problema, mas de forma geral são otimizadas características como:

* Minimização da distância percorrida, ou seja, manter territórios compáctos 
* Balanceamento de tempo de trabalho/atendimento
* Balanceamento dos ganhos em cada território

## Modelo Matemático

A maioria das pesquisas realizadas para resolver o problema de alocação de territórios têm os mesmos critérios básicos em relação ao agrupamento de territórios:

* **compactos**, em que o mesmo representante esteja alocado de forma compacta
* **contínua**, o território tem que ser contínuo para facilitar a movimentação do representante entre os territórios
* **equilíbrio de territórios**, tenha um equilibrio entre os territórios de todos os representantes

## Biblioteca

## Parametrização

### Input

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('input/input_data.csv')

In [4]:
df.head()

,Unnamed: 0,client_id,client_lat,client_lon,client_revenue_avg,salesman_id,salesman_lon,salesman_lat,salesman_cost,visit_in_month,time_to_attend
0,0,21007,-15.537520,-47.334410,337.37,710,-47.332794,-15.546893,3699.12,4,29
1,1,9695,-15.556338,-49.936802,299.83,730,-49.948030,-15.565373,3501.14,4,26
2,2,12995,-16.328420,-48.921938,40.83,517,-48.944700,-16.345725,3414.66,4,24
3,3,8384,-15.895782,-52.253200,498.78,696,-51.108563,-16.441200,5008.80,4,25
4,4,7458,-16.652013,-49.156566,3174.63,574,-48.957236,-16.321473,3100.00,2,48

In [5]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3922 entries, 0 to 3921
Data columns (total 11 columns):
Unnamed: 0            3922 non-null int64
client_id             3922 non-null int64
client_lat            3922 non-null float64
client_lon            3922 non-null float64
client_revenue_avg    3922 non-null float64
salesman_id           3922 non-null int64
salesman_lon          3922 non-null float64
salesman_lat          3922 non-null float64
salesman_cost         3922 non-null float64
visit_in_month        3922 non-null int64
time_to_attend        3922 non-null int64
dtypes: float64(6), int64(5)
memory usage: 337.1 KB

In [6]:
dfm = pd.read_csv('input/priority.csv')

In [7]:
dfm.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258852 entries, 0 to 258851
Data columns (total 4 columns):
Unnamed: 0     258852 non-null int64
client_id      258852 non-null int64
salesman_id    258852 non-null int64
priority       258852 non-null float64
dtypes: float64(1), int64(3)
memory usage: 7.9 MB